* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5c5c5c;
    height: 5rem;
}

body {
    background-color: #272727;
}

.logo {
    display: flex;
    align-items: center;
    margin: 1rem 4rem;

}

.logo span {
    margin-left: 5%;
    font-size: medium;
    font-weight: 800;
    color: #ff0000;
    flex-direction: column;
}

.logo .word2 {
    margin-left: 5%;
    font-size: medium;
    font-weight: 800;
    color: #000000;
}


header img {
    background-color: #ff0000;
    align-items: center;
    border-radius: 100%;
    padding: 0.2rem;
    width: 3rem;
    height: 3rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    margin: 20px;
    color: #000000;
    font-weight: 600;
    padding: 0.3rem;
    background-color: #ff0000;
    border: 0.15rem solid #ff0000;
    border-radius: 12px;
    box-shadow: 2px 2px 7px;
    transition: 0.5s;
}

.slide-box{
    width: 100%;
    height: 50%;
}
.slide-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar a:hover {
    transition: 0.5s;
    padding: 0.4rem;
}

.img-slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.container-img input {
    display: none;
}

.container-img {
    width: 400%;
    height: auto;
    display: flex;
}

.slide-box {
    width: 25%;
    height: 40rem;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-manual, .slide-auto{
    position: absolute;
    width: 100%;
    margin-top: 34%;
    display: flex;
    justify-content: center;
}

.slide-manual .manual-btn, .slide-auto div{
    border: 1px solid #ff0000;
    padding: 0.4rem;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.slide-manual .manual-btn:not(:last-child),
.slide-auto div:not(:last-child) {
    margin-right: 3%;
}

.slide-manual .manual-btn:hover {
    background-color: #ff0000;
}

#radio1:checked ~ .slide-auto .auto-btn1 {
    background-color: #ff0000;
}

#radio2:checked ~.slide-auto .auto-btn2 {
    background-color: #ff0000;
}

#radio3:checked ~.slide-auto .auto-btn3 {
    background-color: #ff0000;
}

#radio1:checked~.primeira {
    margin-left: 0%;
}

#radio2:checked~.primeira {
    margin-left: -25%;
}

#radio3:checked~.primeira {
    margin-left: -50%;
}




.about{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 8%;
}

.about h1{
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    margin-bottom: 5%;
}
.container-about{ 
    display: flex;
    background-color: #707070;
    padding: 2%;
    border-radius: 30px;
}

.img-about{
    margin-right: 3rem;
    
}

.img-about img{
    width: 50rem;
    border-radius: 30px;
    margin-top: 5%;
}

.text-about{
    width: 50rem;
    text-align: justify;
    justify-content: center;
}

.text-about p{
    font-weight: 700;
    font-size: 130%;
    color: #272727;
    text-align: justify;
    display: grid;
    place-items: center; 
    height: 200px; 
}

.container-avaliation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    
    margin: 0 auto;
}

.container-img-ava {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 200%;
}

.container-img-ava img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-avaliation button {
    background-color: transparent;
    border: none;
    color: #5a5a5a;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: 0.3s;
}

.container-avaliation button:hover {
    color: #ff0000;
}

#prev-button{
    margin-right: 90%;
}

#next-button{
    margin-left: 90%;
}

.container-avaliation button:hover {
    font-size: 2.5rem;
}



