* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5c5c5c;
    height: 5rem;
}

body {
    background-color: #272727;
}

.logo {
    display: flex;
    align-items: center;
    margin: 1rem 4rem;

}

.logo span {
    margin-left: 5%;
    font-size: medium;
    font-weight: 800;
    color: #ff0000;
    flex-direction: column;
}

.logo .word2 {
    margin-left: 5%;
    font-size: medium;
    font-weight: 800;
    color: #000000;
}


header img {
    background-color: #ff0000;
    align-items: center;
    border-radius: 100%;
    padding: 0.2rem;
    width: 3rem;
    height: 3rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    margin: 20px;
    color: #000000;
    font-weight: 600;
    padding: 0.3rem;
    background-color: #ff0000;
    border: 0.15rem solid #ff0000;
    border-radius: 12px;
    box-shadow: 2px 2px 7px;
    transition: 0.5s;
}

.slide-box img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.navbar a:hover {
    transition: 0.5s;
    padding: 0.4rem;
}

section .img-slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container-img input {
    display: none;
}

.container-img {
    width: 400%;
    height: auto;
    display: flex;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-manual, .slide-auto{
    position: absolute;
    width: 100%;
    margin-top: 34%;
    display: flex;
    justify-content: center;
}

.slide-manual .manual-btn, .slide-auto div{
    border: 1px solid #ff0000;
    padding: 0.4rem;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.slide-manual .manual-btn:not(:last-child),
.slide-auto div:not(:last-child) {
    margin-right: 3%;
}

.slide-manual .manual-btn:hover {
    background-color: #ff0000;
}

#radio1:checked ~ .slide-auto .auto-btn1 {
    background-color: #ff0000;
}

#radio2:checked ~.slide-auto .auto-btn2 {
    background-color: #ff0000;
}

#radio3:checked ~.slide-auto .auto-btn3 {
    background-color: #ff0000;
}

#radio1:checked~.primeira {
    margin-left: 0%;
}

#radio2:checked~.primeira {
    margin-left: -25%;
}

#radio3:checked~.primeira {
    margin-left: -50%;
}